
body{
    background-color: gray;
}
main{
    background-color: rgb(28, 28, 165);
    margin: auto;
    width:500px; 
    padding: 200px;
    box-shadow: 50px 50px 50px color(srgb rgb(100, 26, 26));
    
}
script{
    color: rgb(0, 54, 0);
    font: 18px
}
h3{
    margin: 0px;
    padding: 0px;
}